# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE or editor directories
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
*.env

# Temporary files
*.tmp
*.swp
*.swo
